@import "../mixin";
@import "../fonts";

.btn_wrap {
	width: 100%;

	button {
		width: 100%;
		background-color: var(--accent);
		padding: 18px 20px;
		border: none;
		box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08), 0px 4px 8px rgba(44, 39, 56, 0.08);
		border-radius: 6px;
		@include fontPlexSans();
		font-weight: 500;
		font-size: 16px;
		line-height: 1.25;
		color: #fff;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
			background-color: var(--btn-hover);
		}
	}
}
