@import "../mixin";
@import "../fonts";


.button {
  &_label_file {
    width: 65px;
    height: 65px;
    background: var(--accent);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
    @include displayFlex();
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;

    i {
      font-size: 25px;
    }
  }
}