@import "../mixin";
@import "../fonts";
@import "../vars";

.form_container {
	max-width: 409px;
	width: 100%;
	height: 100%;
	@include displayFlex();
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 125px;

	.title {
		@include fontPlexSans();
		font-weight: 700;
		font-size: 34px;
		line-height: 1.29;
		color: $primary;
		margin-bottom: 28px;
	}
}
