@import "../mixin";
@import "../fonts";

.input,
.input::placeholder {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}

.input,
.error {
  @include fontPlexSans();
}

.input {
  position: relative;
  width: 100%;
  padding: 16px;
  background: var(--bright);
  border: 1px solid var(--shade);
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 6px;
  color: var(--muted);
  font-size: 16px;
  line-height: 1.25;

  &:focus {
    border: 1px solid var(--accent);
  }

  &::placeholder {
    color: var(--muted);
    font-size: 16px;
    line-height: 1.25;
  }
}

.error {
  position: absolute;
  bottom: -20px;
  font-size: 14px;
  line-height: 1.28;
  color: var(--error);
}
