@import "../mixin";

.link_wrap {
	@include displayFlex();

	p,
	a {
		font-size: 17px;
		line-height: 1.14;
		color: rgba(255, 255, 255, 0.6);
		@include fontRoboto();
	}

	a {
		text-decoration: underline;
		background-color: inherit;
		border: none;
		padding: 0;
		margin-left: 5px;
		cursor: pointer;
	}
}
