@import "../mixin";
@import "../fonts";
@import "../vars";

.link_wrap {
	@include displayFlex();

	p,
	a {
		@include fontPlexSans();
		font-size: 16px;
		line-height: 1.37;
		color: $primary;
	}

	a {
		text-decoration: underline;
		background-color: inherit;
		border: none;
		padding: 0;
		margin-left: 5px;
		cursor: pointer;
		color: $muted;
	}
}
