@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@mixin displayFlex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin fontRoboto {
	font-family: "Roboto", sans-serif;
	font-weight: normal;
}
