@import "_mixin.scss";
@import "_fonts";

* {
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html, body, #__next {
	height: 100%;
}

body {
	position: relative;
	margin: 0;
	@include fontPlexSans();
	color: var(--bright);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	font-weight: normal;
}

a {
	text-decoration: none;
}
ul {
	padding: 0;

	li {
		list-style: none;
	}
}

.container {
	max-width: 1290px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

form {
	@include displayFlex();
	flex-direction: column;
	align-items: center;
}
